.popup {
  position: fixed;
  display: none;
}

.popup::before {
  content: "";
  background-color: #000000;
  position: fixed;
  max-width: 880px;
  margin: 0 auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}